{% extends "main/base.html" %}

{% block title %} MzanziBuilds {% endblock %}
{% block content %}
<head>
    
</head>
<body class="bg-white text-dark">

    <div class="container py-5 my-5">
        <div class="row justify-content-center align-items-center g-5">
            <div class="col-lg-8 text-center"> 
                <h4 >
                    MzanziBuilds <br><span class="text-success"></span>
                </h4>
                
                <h1 class="display-3 fw-bolder mb-3">
                    Build. Collaborate. <br><span class="text-success">Celebrate.</span>
                </h1>
                
                <p class="lead text-secondary mb-4">
                    The collaboration hub for South African Developers. Document your project journey, connect with individuals in tech, and showcase your final project to the world.
                </p>
                
                <div class="d-grid gap-3 d-md-flex justify-content-md-center">
                    <a href="sign-up/" class="btn btn-success btn-lg px-5 py-3 fw-bold">Start Your Journey</a>
                </div>

            </div>
        </div>
    </div>
    
</body>
    <div class="container py-5 border-top">
        <div class="row g-4 py-5">
            <div class="col-md-4">
                <div class="d-inline-flex align-items-center justify-content-center text-success mb-3">
                   <h1><i class="bi bi-person-workspace"></i></h1>
                </div>
                <h3 class="h4 fw-bold">Document Progress</h3>
                <p class="text-secondary">Keep track of your project's progress in one simple dashboard.</p>
            </div>
            <div class="col-md-4">
                <div class="d-inline-flex align-items-center justify-content-center text-success mb-3">
                     <h1><i class="bi bi-people-fill"></i><h1>
                </div>
                <h3 class="h4 fw-bold">Collaborate with others</h3>
                <p class="text-secondary">View and request to collaborate with other developers.</p>
            </div>
            <div class="col-md-4">
                <div class="d-inline-flex align-items-center justify-content-center text-success mb-3">
                   <h1><i class="bi bi-award"></i><h1>
                </div>
                <h3 class="h4 fw-bold">Celebrate</h3>
                <p class="text-secondary">View and celebrate completed projects. Create a community.</p>
            </div>
        </div>
    </div>
    
    <footer class="py-4 bg-dark text-white text-center ">
        <div class="container">
            <small>&copy; 2026 MzanziBuilds. All rights reserved.</small>
        </div>
    </footer>

   
</body>
{% endblock %}